@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-ink-50 text-ink-800 font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-display;
  }

  ::selection {
    @apply bg-sunrise-500/20 text-sunrise-900;
  }
}
